<!-- include the partials -->
<%- include('partials/header') %> 
<%- include('partials/nav') %> 

    <h1>Hello EJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nulla, nobis magnam quo tempore quod necessitatibus nemo atque maiores enim odit ipsa velit totam sapiente delectus officiis eveniet harum, aspernatur dolore eos officia, saepe excepturi vel cupiditate? Illo veniam cumque sint qui numquam obcaecati, perferendis harum! Asperiores quisquam ratione assumenda laborum quam officiis saepe placeat veritatis animi repellat atque, cum ab, autem sit explicabo, eos quidem facilis dolores esse. Eius cum a atque et nulla architecto veritatis laboriosam, eos saepe earum rerum accusamus laborum enim itaque, illum nam odio eligendi tempora asperiores, voluptatem eaque. Dolore atque aperiam ut minus necessitatibus.</p>
<%- include('partials/footer') %> 