<header>
    <nav>
        <h1>NAV</h1>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/random">Random</a></li>
            <li><a href="/search/chickens">Chickens</a></li>
            <li><a href="/search/soccer">Scoocer</a></li>
            <li><a href="/search/mightyharvest">Harvest</a></li>
        </ul>
    </nav>
</header>