<nav>
    <div class="nav-wrapper container">
      <ul id="nav" class="right">
          <li><a href="/">Home</a></li>
        <li><a href="/blogs/new">New</a></li>
        <li><a href="https://github.com/HUSS41N/Express-Tut">Github</a></li>
      </ul>
    </div>
  </nav>